<h1>
    Accounts
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col-2">#</th>
      <th scope="col-2">Bank</th>
      <th scope="col-2">Account Number</th>
      <th scope="col-2">Ammount</th>
      <th scope="col-4">
        <center>
            Actions
        </center>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <center>
            <button class=" btn"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </center>
      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>