<div class="row g-0">
    <div class="col-lg-4 col-md-3 col-0">
    </div>
    <div class="col-lg-4 col-md-6 border border-2 border-success rounded mt-5 p-3"> 
        <form method="post">
            <h4>Add Account Details</h4>
            <label for="bank_name" class="form-label">Bank Name</label>
            <input type="text" placeholder="Enter your Bank Title" name="bank_name" id="bank_name" minlength="3" class="form-control">
            <label for="account_type" class="form-label">Account Type</label>
            <input type="text" placeholder="Enter your Account Type" name="account_type" id="account_type" minlength="3" class="form-control">
            <label for="account_number" class="form-label">Account Number</label>
            <input type="text" minlength="11" maxlength="27" placeholder="Enter Your Account Number" name="account_number" id="account_number" class="form-control">
            <center>
                <button class="btn btn-success mt-2" type="submit">Add New Account</button>
            </center>
        </form>
    </div>
    <div class="col-lg-4 col-md-3"></div>
  </div>


